*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --ff-primary: "Franklin Gothic Medium", "Franklin Gothic", "ITC Franklin Gothic", Arial, sans-serif;
  --ff-secondary: 'Source Code Pro', monospace;

  --fw-reg: 300;
  --fw-bold: 900;

  --clr-light: #fff;
  --clr-dark: #000000;
  --clr-accent: #00E6F6;
  --clr-accent-2: #FF013C;

  --fs-h1: 7.25rem;
  --fs-h2: 2.25rem;
  --fs-h3: 1.75rem;
  --fs-body: 1rem;
}

html {
  scroll-behavior: smooth;
 }

body {
  background: var(--clr-dark);
  font-family: "Franklin Gothic Medium", "Franklin Gothic", "ITC Franklin Gothic", Arial, sans-serif;
  font-size: var(--fs-body);
  color: var(--clr-dark);
  margin: 0;
}

section {
  padding: 5em 2em;
}

h3 {
  margin: 0;
  font-size: var(--fs-h3);
  padding-bottom: 0;
}

h1 {
  font-size: var(--fs-h1);
  font-weight: var(--fw-bold);
  padding-top: 0;
  margin-top: 0;
  text-shadow: 3px 3px 3px rgb(8, 73, 110);
}
a {
  text-decoration: none;
}

label {
  display: block;
}

nav {
  background-color: var(--clr-dark);
  font-family: var(--ff-primary);
  font-size: var(--ff-secondary);
  font-weight: var(--fw-bold);
  position: sticky;
  height: 10vh;
}

nav a {
  display: inline-block;
  margin: 1em;
  color: var(--clr-accent)
}

form div {
  margin: 1em;
  display: inline-block;
}

img {
  height: 60vh;
  width: 30vw;
}
.home-img {
  height: 50 vh;
  width: 40vw;
}
.container {
  width: 100vw;
  height: 90vh;
  scroll-snap-type: y proximity;
  overflow-y: scroll;
}

.pages {
  width: 98vw;
  height: 98vh;
  display: flex;
  flex-direction: row;
  background-color: var(--clr-dark);
  color: rgb(250, 247, 225);
  border-bottom: 10px solid palevioletred;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 1.25rem;
  padding-top: 0;
  scroll-snap-align: start;
}

.resume {
  border-radius: 24%;
  position: absolute;
  top: 0;
  right: 0;
}

.intro {
  justify-items: left;
  justify-content: space-around;
  flex-direction: column;
}
.intro-par {
  font-size: 7em;
  padding-bottom: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.intro-head {
  padding-top: 0;
  padding-bottom: 0;
  margin-bottom: 0;
}

.intro-h2 {
  padding-bottom: 1em;
}

.link-btn {
  align-items: center;
  background-color: var(--clr-dark);
  border: 2px solid var(--clr-accent);
  border-top: none;
  border-left: none;
  border-right: none;
  border-radius: 8px;
  box-sizing: border-box;
  color: var(--clr-accent);
  cursor: pointer;
  display: flex;
  font-family: Inter,sans-serif;
  font-size: 16px;
  height: 6vh;
  justify-content: center;
  line-height: 24px;
  max-width: 100%;
  padding: 0 25px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.link-btn:active {

  color: #FF013C;
  border-color: #FF013C;
  outline: 0;
}

.pages:last-child() {
  border-bottom: 0px;
}

.nameTag {
  background-color: var(--clr-dark);
  color: rgb(250, 247, 225);
  padding-bottom: 0;
  margin-bottom: 0;
  margin-top: 2rem;
}

.navdiv {
  display: flex;
  justify-content: left;
  flex-direction: column;

  position: fixed;
  top: 0;
  right: 2rem;
  left: 0;
  height: 13vh;
}

.bardiv {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.bardiv a:hover {

    color: #FF013C;

}

.project-btn,
.project-btn:after {
  width: 150px;
  height: 76px;
  line-height: 78px;
  font-size: 20px;
  font-family: 'Bebas Neue', sans-serif;
  background: linear-gradient(45deg, transparent 5%, var(--clr-accent) 5%);
  border: 0;
  color: rgb(66, 66, 66);
  letter-spacing: 3px;
  box-shadow: 6px 0px 0px #FF013C;
  outline: transparent;
  position: relative;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.project-btn:after {
  --slice-0: inset(50% 50% 50% 50%);
  --slice-1: inset(80% -6px 0 0);
  --slice-2: inset(50% -6px 30% 0);
  --slice-3: inset(10% -6px 85% 0);
  --slice-4: inset(40% -6px 43% 0);
  --slice-5: inset(80% -6px 5% 0);

  content: 'JS - REACT - CSS';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(45deg, transparent 3%, var(--clr-accent) 3%, var(--clr-accent) 5%, #FF013C 5%);
  text-shadow: -3px -3px 0px #F8F005, 3px 3px 0px var(--clr-accent);
  clip-path: var(--slice-0);
}

.project-btn:hover:after {
  animation: 1s glitch;
  animation-timing-function: steps(2, end);
}

.proj-link {
  color:rgb(49, 49, 49)
}
@keyframes glitch {
  0% {
    clip-path: var(--slice-1);
    transform: translate(-20px, -10px);
  }
  10% {
    clip-path: var(--slice-3);
    transform: translate(10px, 10px);
  }
  20% {
    clip-path: var(--slice-1);
    transform: translate(-10px, 10px);
  }
  30% {
    clip-path: var(--slice-3);
    transform: translate(0px, 5px);
  }
  40% {
    clip-path: var(--slice-2);
    transform: translate(-5px, 0px);
  }
  50% {
    clip-path: var(--slice-3);
    transform: translate(5px, 0px);
  }
  60% {
    clip-path: var(--slice-4);
    transform: translate(5px, 10px);
  }
  70% {
    clip-path: var(--slice-2);
    transform: translate(-10px, 10px);
  }
  80% {
    clip-path: var(--slice-5);
    transform: translate(20px, -10px);
  }
  90% {
    clip-path: var(--slice-1);
    transform: translate(-10px, 0px);
  }
  100% {
    clip-path: var(--slice-1);
    transform: translate(0);
  }
}

@media (min-width: 768px) {
  .project-btn,
  .project-btn:after {
    width: 200px;
    height: 86px;
    line-height: 88px;
  }
}

.resume-btn {
  align-items: center;
  background-color: var(--clr-dark);
  border: 2px solid var(--clr-accent-2);
  border-radius: 8px;
  box-sizing: border-box;
  color: var(--clr-accent);
  cursor: pointer;
  display: flex;
  font-family: Inter,sans-serif;
  font-size: 16px;
  height: 6vh;
  justify-content: center;
  line-height: 24px;
  max-width: 100%;
  padding: 0 25px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.resume-btn:hover:after {
  color: #FF013C;
  border-color: #FF013C;
  border-radius: 8px;
  content: "";
  display: block;
  height: 48px;
  left: 0;
  width: 100%;
  position: absolute;
  top: -2px;
  transform: translate(8px, 8px);
  transition: transform .2s ease-out;
  z-index: -1;
}

.resume-btn:active {
  background-color: rgb(49, 49, 49);
  color: #FF013C;
  border-color: #FF013C;
  outline: 0;
}

.resume-btn:hover {
  outline: 0;
}

@media (min-width: 768px) {
  .resume-btn {
    padding: 0 40px;
  }
}

.contact-div {
  display: flex;
  flex-direction: row;
  width: 98vw;
  height: 100vh;
  justify-content: space-evenly;
  align-items: center;
}
.contact-left-side {
  display: flex;
  position: relative;
  justify-content: left;
  flex-direction: column;
  padding-right: 2rem;
  transition: all 500ms linear ;
}

.contact-left-side:hover {
  pointer-events: initial;
  transition: all 500ms linear ;
}

.contact-right-side {
  display: flex;
  flex-direction: column;
  color: var(--clr-accent);
  transition: all 500ms linear ;
}

.contact-right-side:hover {
  pointer-events: initial;
  color: var(--clr-accent);
  transform: scale(2.0);
  transition: all 500ms linear ;
}

.contact-icons {
  color: var(--clr-accent-2);
}
.contact-div:h1 {
  font-size: var(--fs-h2);
  padding-right: 2rem;
}

#email-header {
  color: var(--clr-accent-2)
}

#mobile {
  padding-bottom: 0;
}
#mobile-header {
  color: var(--clr-accent-2);
}


.contact-icons {
  display: flex;
  flex-direction: column;
  position: relative;

  align-content: end;
  height: 5vh;
}

.my-work-div {
  height: 65vh;
}

#reach-out {
  font-size: 3.5rem;
}

#stapler-title {
  font-size: 3rem;
  font-weight: var(--fw-bold);
  color: var(--clr-accent-2)
}
#stapler-info {
  font-size: var(--fs-h3);
}

#tagd-title {
  font-size: 3rem;
  font-weight: var(--fw-bold);
  color: var(--clr-accent-2);
}

#tagd-info {
  font-size: var(--fs-h3);
}
.projects-div {
  align-content: center;
}

#work-header {
  margin-bottom: .75rem;
  padding-bottom: 0;
}


/* CSS */
.button-27 {
  appearance: none;
  background-color: var(--clr-accent);
  border: 2px solid #1A1A1A;
  border-radius: 15px;
  box-sizing: border-box;
  color: var(--clr-dark);
  cursor: pointer;
  display: inline-block;
  font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  font-size: 22px;
  font-weight: var(--fw-bold);
  line-height: normal;
  margin: 0;
  min-height: 60px;
  min-width: 0;
  outline: none;
  padding: 16px 24px;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 25%;
  will-change: transform;
}

.button-27:disabled {
  pointer-events: none;
}

.button-27:hover {
  box-shadow: var(--clr-accent-2) 0 8px 15px;
  transform: translateY(-2px);
}

.button-27:active {
  box-shadow: none;
  transform: translateY(0);
}

.verticle-line {
  border-left: 3px solid white;
  height: 600px;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  margin-left: 1.5rem;
  left: 50%;

  top: 0;
}

.point {
  width: 0; 
   height: 0; 
   border-top: 10px solid transparent;
   border-bottom: 10px solid transparent;
   border-left: 37px solid white;
   float:right;
}

.point-left {
  width: 0; 
   height: 0; 
   border-top: 10px solid transparent;
   border-bottom: 10px solid transparent;
   border-right: 37px solid white;
   float:left;
}

.journey-div {
  display: flex;
  justify-content: space-evenly;
  height: 68vh;
}
.journey-header-div {
  display: flex;
  flex-direction: column;
}
.journey-header {
  justify-content: left;
  margin-bottom: 35rem;
}

.journey-even-years {
  justify-content: space-evenly;
  align-content: center;
  display: flex;
  flex-direction: column;
  width: 30vw;
}

.journey-odd-years {
  justify-content: space-evenly;
  align-content: center;
  display: flex;
  flex-direction: column;
  width: 30vw;
}

#journey-info {
  font-size: var(--fs-h3);
}

.contact-btn {
  background-color: var(--clr-accent);
  border-radius: 100px;
  box-shadow: rgb(10, 140, 149) 0 -25px 18px -14px inset,rgb(0, 238, 255) 0 1px 2px,rgb(0, 238, 255) 0 2px 4px,rgbargb(0, 238, 255) 0 4px 8px,rgb(0, 238, 255) 0 8px 16px,rgb(0, 238, 255) 0 16px 32px;
  color: var(--clr-dark);
  cursor: pointer;
  display: inline-block;
  font-family: CerebriSans-Regular,-apple-system,system-ui,Roboto,sans-serif;
  padding: 7px 20px;
  text-align: center;
  text-decoration: none;
  transition: all 250ms;
  border: 0;
  font-size: 16px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.contact-btn:hover {
  box-shadow: var(--clr-accent-2) 0 -25px 18px -14px inset,var(--clr-accent-2) 0 1px 2px,var(--clr-accent-2) 0 2px 4px,var(--clr-accent-2) 0 4px 8px,var(--clr-accent-2) 0 8px 16px,var(--clr-accent-2) 0 16px 32px;
  transform: scale(1.05) rotate(-1deg);
}

.about-outter-div {
  display: flex;
  flex-direction: column;
}

.home-img {
  object-fit: contain;
  width: 35vw;
  height: 45vh;
}
